/*ヘッダー*/

.top-page-header {
  background-color: #f2f2f2;
  height: 70px;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
}

.header-bar a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.header-bar a:hover {
  color: #de78e000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lists-right {
  list-style: none;
  display: flex;
}

.lists-right li {
  margin-right: 10px;
}

.user-nickname {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.user-nickname:hover {
  color: #611d18;
}

.logout  {
  background-color:#DEB887;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}

.logout:hover {
  background-color: #ffffff;
  color: #DEB887;
  border: 1px solid #d6742e;
}

/*ヘッダー*/

/*フッター*/
.footer {
  background-color: #fff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}

.footer img {
  height: 30px;
  vertical-align: middle;
  margin-left: 5px;
}

/*フッター*/

/*フォーム*/
form {
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-control {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn{
  height: 50px;
  width: 180px;
}

/*フォーム*/

/*ユーザー登録フォーム*/
/* フォームのスタイル */
.field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #ea8b0f;
}

.btn-primary {
  background-color: #DEB887;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.mx-auto{
  display: flex;
  justify-content: center;
}
.user-new{
  display: flex;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #d6742e;
}

/* エラーメッセージのスタイル */
.field_with_errors label {
  color: #f00;
  font-weight: bold;
}

.field_with_errors input[type="text"],
.field_with_errors input[type="email"],
.field_with_errors input[type="password"],
.field_with_errors textarea {
  border-color: #f00;
}

.field_with_errors .form-control-feedback {
  color: #f00;
  font-size: 14px;
  margin-top: 5px;
}

/* リンクのスタイル */
.links {
  margin-top: 20px;
}

.links a {
  color: #1e87f0;
  text-decoration: none;
  font-size: 16px;
}

.links a:hover {
  text-decoration: underline;
}



/*ユーザー登録フォーム*/