<%= render "shared/header" %>

<div class="">
<div class="container">
  <div class="text-center mb-5">Goyangi Healthは</div>
  <div class="text-center mb-4">猫の情報を登録し、簡単に健康管理</div>
  <div class="text-center mb-5">猫の健康管理は、Goyangi Healthで簡単に！</div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center">Goyangi Healthは、猫の情報を登録し、健康管理を簡単にするアプリです。カレンダー機能により、<br />日々の健康状態や病院予定を管理でき、健康に関する記録も残せます。また、画像をアップロードできるので、猫の成長や病気の変化なども簡単に記録できます。</p>
    </div>
  </div>
</div>






<%= render "shared/footer" %>